:root {
    --white: #fff;
    --beige: #e0e0e0;
    --scroll-grey: #949494;
    --background-main: #56415e;
    --dark: #57606f;
    --black: #000;
    --blue: #3c95d5;
    --hover-blue: #307f9d;
    --active-blue: #4157af;
    --grey: #747d8c;
    --purple: #7e1cb9;
    --green: #00bfa5;
    --warning: #e6a23c;
    --gules: #f44336;
}
